@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AcademyWebEF.Models.CourseEditorModel

@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form method="post"
                  asp-controller="Course"
                  asp-action="Update">

                <h2>Update Course</h2>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="CourseTitle"></label>
                    <input class="form-control" asp-for="CourseTitle" />
                    <span asp-validation-for="CourseTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DurationInDays"></label>
                    <input class="form-control" asp-for="DurationInDays" />
                    <span asp-validation-for="DurationInDays" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input class="form-control" asp-for="Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="IsActive" />
                    <label asp-for="IsActive"></label>
                    <span asp-validation-for="IsActive"></span>
                </div>


                <input asp-for="CourseId" />

                <div style="margin-top:20px;">
                    <a href="@Url.Action("CoursesList","Course")" style="margin-right:5px;" class="btn btn-secondary">Back</a>

                    <button type="submit" class="btn btn-primary">Update Course</button>
                </div>


            </form>
        </div>
        <div class="col-6"></div>
    </div>
</div>