@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AcademyWebEF.Models.LoginModel

@{
    Layout = "_LoginLayout";
}

<style type="text/css">

    .form-check{
        padding-left : 0em !important;
    }

    .form-group{
        margin-top:15px !important;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div style="position: absolute;top: 50%; margin-top: -200px;width: 50%;">
            <form
                  method="post" 
                  asp-controller="Account" 
                  asp-action="SubmitLogin">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input asp-for="RememberMe" /> <label asp-for="RememberMe"></label>
                </div>

                <div style="margin-top:20px;">
                    <button type="submit" class="btn btn-primary" style="float:right;">Login</button>
                </div>

            </form>
         </div>
    </div>
    </div>